---
---

<div class="navbar-container">
    <div class="main">
        <div class="nav-logo">
            <h1>UW</h1>
        </div>
        <button class="middle-btn">
            <h1>Student Homepage</h1><svg
                width="32"
                height="32"
                viewBox="0 0 24 24"
                ><path
                    fill="#fff"
                    d="M12 15.575q.2 0 .375-.063q.175-.062.325-.212l2.6-2.6q.275-.275.275-.7q0-.425-.275-.7q-.275-.275-.7-.275q-.425 0-.7.275l-.9.9V9q0-.425-.287-.713Q12.425 8 12 8t-.712.287Q11 8.575 11 9v3.2l-.9-.9q-.275-.275-.7-.275q-.425 0-.7.275q-.275.275-.275.7q0 .425.275.7l2.6 2.6q.15.15.325.212q.175.063.375.063ZM12 22q-2.075 0-3.9-.788q-1.825-.787-3.175-2.137q-1.35-1.35-2.137-3.175Q2 14.075 2 12t.788-3.9q.787-1.825 2.137-3.175q1.35-1.35 3.175-2.138Q9.925 2 12 2t3.9.787q1.825.788 3.175 2.138q1.35 1.35 2.137 3.175Q22 9.925 22 12t-.788 3.9q-.787 1.825-2.137 3.175q-1.35 1.35-3.175 2.137Q14.075 22 12 22Z"
                ></path>
            </svg>
        </button>
        <div class="nav-icons">
            <svg width="32" height="32" viewBox="0 0 24 24"
                ><path
                    fill="#fff"
                    d="M6 21q-.825 0-1.412-.587Q4 19.825 4 19v-9q0-.475.213-.9q.212-.425.587-.7l6-4.5q.275-.2.575-.3q.3-.1.625-.1t.625.1q.3.1.575.3l6 4.5q.375.275.588.7q.212.425.212.9v9q0 .825-.587 1.413Q18.825 21 18 21h-4v-7h-4v7Z"
                ></path>
            </svg>

            <svg width="32" height="32" viewBox="0 0 24 24"
                ><path
                    fill="#fff"
                    d="M12 20q-.825 0-1.412-.587Q10 18.825 10 18q0-.825.588-1.413Q11.175 16 12 16t1.413.587Q14 17.175 14 18q0 .825-.587 1.413Q12.825 20 12 20Zm0-6q-.825 0-1.412-.588Q10 12.825 10 12t.588-1.413Q11.175 10 12 10t1.413.587Q14 11.175 14 12q0 .825-.587 1.412Q12.825 14 12 14Zm0-6q-.825 0-1.412-.588Q10 6.825 10 6t.588-1.412Q11.175 4 12 4t1.413.588Q14 5.175 14 6t-.587 1.412Q12.825 8 12 8Z"
                ></path>
            </svg>
        </div>
    </div>
</div>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;200;300;400;500;600;700;800&display=swap");

    .navbar-container {
        width: 100%;
        height: 75px;
        background: rgb(41, 101, 128);
        background: -moz-linear-gradient(
            217deg,
            rgba(41, 101, 128, 1) 0%,
            rgba(77, 138, 166, 1) 100%
        );
        background: -webkit-linear-gradient(
            217deg,
            rgba(41, 101, 128, 1) 0%,
            rgba(77, 138, 166, 1) 100%
        );
        background: linear-gradient(
            217deg,
            rgba(41, 101, 128, 1) 0%,
            rgba(77, 138, 166, 1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#296580",endColorstr="#4d8aa6",GradientType=1);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .main {
        display: flex;
        margin-right: 100px;
        margin-left: 100px;
        width: 100%;
        height: 100px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .nav-logo {
        /* margin-left: 100px; */
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .nav-logo h1 {
        font-family: "Anek Telugu", sans-serif;
        color: #fff;
        font-size: 2em;
        margin-top: 30px;
    }

    .nav-icons {
        /* margin-right: 100px; */
        width: fit-content;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .middle-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 100%;
        background: none;
        border: none;
        cursor: pointer;
    }

    .middle-btn svg {
        margin-left: 10px;
    }

    .middle-btn h1 {
        font-family: "Anek Telugu", sans-serif;
        font-weight: 700;
        font-size: 2.2em;
        color: #fff;
        margin-top: 30px;
    }
</style>
